@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar hiding */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}


html {
  scroll-behavior: smooth;
}